version: "3.9"

services:
  web:
    build: .
    container_name: django_app
    command: daphne -b 0.0.0.0 -p 8000 bidBackend.asgi:application
    ports:
      - "8000:8000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
    volumes:
      - ./staticfiles:/core/staticfiles


  redis:
    image: redis/redis-stack:latest
    ports:
      - "6379:6379"

