{% extends 'base.html' %}
{% load static %}

{% block titleLink%}
    <title>MCL-Bidding Window</title>
    <style>
        .custom-card {
            background-color: var(--secondary-bg);
            border: 2px solid var(--border-color);
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }


        .player-photo-box {
            min-height: 250px; 
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }

        .bid-info-box {
            text-align: center;
            font-size: 1.1em;
            font-weight: 500;
        }
    </style>
{% endblock %}

{% block main %}
<main class="container py-4">
    <div class="row">
        <div class="col-lg-4 col-md-5 mb-4">
            <div class="custom-card player-photo-box mb-4" id="player-photo-box">
                Player Photo
            </div>
            <div class="custom-card text-center py-3">
                <span class="d-block text-white" id ="player-id"> Player ID : XXX </span> 
            </div>
        </div>

        <div class="col-lg-8 col-md-7">
            <div class="custom-card mb-4">
                <h5 class="header-title mb-3">COLLEGE IDENTITY</h5>
                <p class="mb-1" id="player-name">Name : XXXXXXX XXXXXXX XXXX</p>
                <p class="mb-1" id="player-dept">Dept : XXXXX</p>
                <p class="mb-4" id="player-batch">Batch : XXXXXX</p>
                <hr class="border border-secondary-subtle">
                <h5 class="header-title mb-3 mt-4">PLAYER IDENTITY</h5>
                <p class="mb-1" id="player-role">Role : XXXXXXXX </p>
                <p class="mb-0" id="wicket-keeping">Wicket kipping : Yes / No</p>
            </div>
            <div class="custom-card bid-info-box py-3">
                Current Bid : &nbsp;<span class="text-warning" id="current-bid"> &#129689;XXXX</span> &nbsp; By:  &nbsp; <span class="text-danger" id="team-name">XXXX</span>
            </div>
        </div>
    </div>
</main>
{% endblock main %}

{% block scriptt %}
<script>
    const myBiDSocket = new WebSocket("ws://" + window.location.host + "/ws/ac/");

    myBiDSocket.onmessage = function (event) {
        const data = JSON.parse(event.data);

        document.getElementById("player-id").innerHTML = `Player ID :${data.player_id}`;
        document.getElementById("current-bid").innerHTML = `${data.current_bid}`;
        document.getElementById("team-name").innerHTML = `${data.team_name}`;
        document.getElementById("player-photo-box").innerHTML = `<img src="${data.photo_url}" alt="Player Photo" class="img-fluid">`;

        document.getElementById("wicket-keeping").innerHTML = `Wicket kipping : ${data.wicket_keeping}`;
        document.getElementById("player-role").innerHTML = `Role : ${data.role}`;
        document.getElementById("player-name").innerHTML = `Name : ${data.name}`;
        document.getElementById("player-dept").innerHTML = `Dept : ${data.dept}`;
        document.getElementById("player-batch").innerHTML = `Batch : ${data.batch}`;
    };
</script>
{% endblock scriptt %}