
/* Styling for the central login card */
.login-card {
    background-color: var(--secondary-bg);
    border: 0px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 255, 64, 0.4);
    border-radius: 12px;
}

/* Custom input style to match the theme */
.form-control-custom {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: rgb(255, 255, 255);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-control-custom:focus {
    background-color: #2c2c2c;
    color: white;
    border-color: var(--border-color);
    box-shadow: 0 0 0 0.25rem rgba(0, 255, 64, 0.5); 
}

/* Custom button style */
.btn-green-accent {
    background-color: var(--border-color);
    color: var(--primary-bg);
    border-color: var(--border-color);
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.btn-green-accent:hover {
    background-color: #ffffff; 
    border-color: #ffffff;
    color: var(--primary-bg);
}

/* Text color utility */
.text-green-accent {
    color: var(--border-color);
}