# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3-journal
.env
.env.*
Design/

# Virtual Environments
mclEnv/
*.venv/
.venv/

# Python
*.py[cod]
*$py.class
.dockerignore

# IDE / Editor
.vscode/
.idea/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Django migrations (Optional: remove if you want to track migrations)
# */migrations/*

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid

# WSL / Windows
$RECYCLE.BIN/
*.bak
*.swp
*.tmp
